[submodule "tupsupport"]
	path = tupsupport
	url = ../ren-tupsupport/
[submodule "packaging"]
	path = packaging
	url = ../ren-packaging
[submodule "app/translation"]
	path = app/translation
	url = ../ren-translation
