# All boolean items are true by default

# true, false
#CONFIG_TEST=false

# true, false
#CONFIG_DEBUG=false

# arch64, ubuntu, ubuntu64, windows
CONFIG_PLATFORM=arch64

# g++, clang, cl
CONFIG_COMPILER=g++

# g++, g++-4.8, clang++, cl.exe..
CONFIG_COMPILERBIN=g++

# gcc, clang, cl.exe
CONFIG_CCOMPILERBIN=gcc

# g++, link.exe...
CONFIG_LINKERBIN=g++

# Extra compile flags
# Optional
CONFIG_BUILDFLAGS=

# Extra link flags
# Optional
CONFIG_LINKFLAGS=

# Only required on Windows
# windres, windres.exe, x86_64-w64-mingw32-windres
CONFIG_WINDRES=

# Components
# true, false
#CONFIG_BUILDSERVER=false

# true, false
#CONFIG_BUILDGUI=false

# Add output of `pkg-config --cflags Qt5Core Qt5Widgets Qt5Gui`
CONFIG_GUIBUILDFLAGS=

# Add output of `pkg-config --libs Qt5Core Qt5Widgets Qt5Gui`
CONFIG_GUILINKFLAGS=

# true, false
#CONFIG_BUILDCLI=false


# If packaging Windows, add the locations of the following, separating entries with :
# ...
# libboost license files
CONFIG_WINDOWSBOOSTLICENSES=
# libev license file
CONFIG_WINDOWSLIBEVLICENSES=
# Qt5 license file
CONFIG_WINDOWSQT5LICENSES=
# libvlc license file
CONFIG_WINDOWSVLCLICENSES=
# libintl license file
CONFIG_WINDOWSGETTEXTLICENSES=

# Location of: libgcc_s_seh_1.dll libintl-8.dll libwinpthread-1.dll libstdc++-6.dll libiconv-2.dll libuv-11.dll
CONFIG_WINDOWCORE=
# Location of: Qt5Core.dll Qt5Widgets.dll Qt5Gui.dll libpcre16-0.dll zlib1.dll libpng16-16.dll libGLESv2.dll libEGL.dll
CONFIG_WINDOWSQT5DLLS=
# Location of: qwindows.dll (PREFIX/lib/qt5/plugins/platforms/)
CONFIG_WINDOWSQT5PLATFORMDLLS=
# Location of: libboost_system-mt.dll libboost_regex-mt.dll libboost_filesystem-mt.dll
CONFIG_WINDOWSBOOSTDLLS=
# Location of: libvlc.dll libvlccore.dll
CONFIG_WINDOWSVLCDLLS=
# ...
