# All boolean items are true by default

# true, false
#CONFIG_ENABLE=false

# true, false
#CONFIG_DEBUG=false

# arch64, ubuntu, ubuntu64, windows
CONFIG_PLATFORM=arch64

# g++, clang, cl
CONFIG_COMPILER=g++

# g++, g++-4.8, clang++, cl.exe..
CONFIG_COMPILERBIN=g++

# gcc, clang, cl.exe
CONFIG_CCOMPILERBIN=gcc

# g++, link.exe...
CONFIG_LINKERBIN=g++

# Extra compile flags
# Optional
CONFIG_BUILDFLAGS=

# Extra link flags
# Optional
CONFIG_LINKFLAGS=

# Components
# true, false
#CONFIG_BUILDSERVER=false

# true, false
#CONFIG_BUILDGUI=false

# Add output of `pkg-config --cflags Qt5Core Qt5Widgets Qt5Gui`
CONFIG_GUIBUILDFLAGS=

# Add output of `pkg-config --libs Qt5Core Qt5Widgets Qt5Gui`
CONFIG_GUILINKFLAGS=

# true, false
#CONFIG_BUILDCLI=false
